
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/MyLayout.cshtml";
}

<h2>Home</h2>
<a href="@Url.Action("Education", "My")">
    <button>Go to Education</button>
</a>

<a href="@Url.Action("Project", "My")">
    <button>Go to Project</button>
</a>

<a href="@Url.Action("Referance", "My")">
    <button style="background-color: blue;">Go to Referance</button>
</a>