
@{
    ViewBag.Title = "Project";
    Layout = "~/Views/Shared/MyLayout.cshtml";
}

<h2>Project</h2>
<ul>
    <li>Java</li>
    <ul>
        <li>Item1</li>
        <li>Item2</li>
    </ul>

    <li>C#</li>
    <ul>
        <li>Item1</li>
        <li>Item2</li>
    </ul>

    <li>Advance .net</li>
    <ul>
        <li>Item1</li>
        <li>Item2</li>
    </ul>

    <a href="@Url.Action("Home", "My")">
        <button>Go to Home</button>
    </a>

</ul>

